.social__list {
  display: flex;
  list-style-type: none;
  width: 100px;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
}

.social__icon {
  fill: $hover;
}

.social__link:hover .social__icon {
  fill: $tertiary;
}
