// colors
$primary: #000000;
$secondary: #ffffff;
$tertiary: #63758c;
$hover: #56c3b2;
// $quinary:#444444;
// $senary:#f1f1f1;
// $septenary: #f9f9f9;
// $octonary: #ececec;
// $nonary: #e5e5e5;
// $denary: #149080;
// $undenary: #46c1ae;
// $duodenary: #231f20;
// $tertiarydenaty: #62d1ba;

// viewports
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
